setuptools==67.8.0
packaging
build==0.7
six
wheel>=0.35
PyOpenGL
pyinstaller==3.6; platform_machine != 'aarch64'
numpy
distro; sys_platform == 'linux'
patchelf==0.15; sys_platform == 'linux'
tqdm; sys_platform == 'linux'
gitpython; sys_platform == 'linux'
