.btn-qt:hover,
.btn-qt:active,
.btn-qt:focus,
.btn-qt.active {
  background: #41cd52;
  color: #fff !important;
  border-color: #fff;
}

.btn-link {
  color: #41cd52 !important;
}

.btn-link:hover {
  color: #222840 !important;
  text-decoration: underline;
}

/* Using !important is not recommended, but out CSS is being added
 * to the pages before the bootstrap ones, so we cannot override them
 * without using it */
.btn-qt {
  color: #41cd52 !important;
  border-color: #41cd52 !important;
  font-weight: bold !important;
}
.card-img-top-main {
    padding-top: 10px;
    height: 70px !important;
}

.card-img-top {
  object-fit: contain;
  height: 120px;
  padding-top: 20px;
  transform: scale(1.3, 1.3);
}

/* Tables */
.section .docutils.container td {
    float:left;
}

table.docutils {
    margin-right: auto;
    margin-bottom: 10px;
    border: none;
    width: initial;
    font-size: 0.8em;
}

table.docutils.colwidths-given td {
    float: none;
}

table.docutils th,
table.docutils td {
    padding-left:0;
    border: none;
}

table.docutils td ul {
    margin:0
}

table.docutils td ul > li {
    margin: 0 0 0.5em;
}

.hide {
    display: none;
}

.fixed .container {
  max-width:1280px;
  margin:0 auto;
  padding:0 3.9%; /* 0? */
  position:relative;
  overflow:visible
}
